#parent{
    border: 2px solid blue;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    width: 700px;
    height: 300px;
    -webkit-box-align: stretch;
}
#child1{
    border: 2px solid red;
    background: green;
    padding: 20px;
    margin: 10px;
    -webkit-box-flex: 1;

}
#child2{
    border: 2px solid red;
    background: yellow;
    padding: 20px;
    margin: 10px;
    -webkit-box-flex: 1;

}
#child3{
    border: 2px solid red;
    background: orange;
    padding: 20px;
    margin: 10px;
    -webkit-box-flex: 1;

}
#child4{
    border: 2px solid red;
    background: blue;
    padding: 20px;
    margin: 10px;
    -webkit-box-flex: 1;

}
